# Default ignored files
/shelf/
/workspace.xml

# Maven
target/

# IntelliJ
.idea/
*.iml

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Add this to .gitignore
**/application-dev.yml
**/application-prod.yml